      <%= render partial: "layouts/city_search" %>
<section id="festivals">

      <h1><%=@upcoming_festivals.first.location.city %></h1>
        
      <% @upcoming_festivals.each_with_index do |festival, index| %>
      <%  if (0..2).include?(index)  %>
        <% if index == 0 %>
        <div class="section group">
        	<div class="col span_1_of_3 one" style="background-image: url('<%= festival.image %>');">
        	  <a href="/upcoming_festivals/<%= festival.id %>">
          	  <div class="overlay">
                <h2><%= festival.name %></h2>
                <p><%= festival.location.city %></p>
              </div>
            </a>
        	</div>
        <% elsif index == 1 %>
        	<div class="col span_1_of_3 two" style="background-image: url('<%= festival.image %>');">
        	  <a href="/upcoming_festivals/<%= festival.id %>">
          	  <div class="overlay">
          	    <h2 class="coachella"><%= festival.name %></h2>
          	    <p><%= festival.location.city %></p>
          	  </div>
          	</a>
        	</div>
        <% elsif index == 2 %>
        	<div class="col span_1_of_3 three" style="background-image: url('<%= festival.image %>');">
        	  <a href="/upcoming_festivals/<%= festival.id %>">
              <div class="overlay">
                <h2 class="outside_lands"><%= festival.name %></h2>
                <p><%= festival.location.city %></p>
              </div>
            </a>
        	</div>
        </div>
        <% end %>
        
      <% else %> 
         <% if index == 3 %> 
          <div class="section two group">
          	<div class="col span_1_of_3 one" style="background-image: url('<%= festival.image %>');">
          	  <a href="/upcoming_festivals/<%= festival.id %>">
            	  <div class="overlay one">
                  <h2 class="outside_lands"><%= festival.name %></h2>
                  <p><%= festival.location.city %></p>
                </div>
              </a>
          	</div>
          <% elsif index == 4 %> 
          	<div class="col span_1_of_3 two" style="background-image: url('<%= festival.image %>');">
          	  <a href="/upcoming_festivals/<%= festival.id %>">
            	  <div class="overlay">
            	    <h2 class="outside_lands"><%= festival.name %></h2>
            	    <p><%= festival.location.city %></p>
            	  </div>
            	</a>
          	</div>
          <% elsif index == 5 %> 
          	<div class="col span_1_of_3 three" style="background-image: url('<%= festival.image %>');">
          	  <a href="/upcoming_festivals/<%= festival.id %>">
                <div class="overlay">
                  <h2 class="coachella"><%= festival.name %></h2>
                  <p><%= festival.location.city %></p>
                </div>
              </a>
          	</div>
          </div>
          <% end %>
        <% end %>
      <% end %>